body {
    background-color: #F1F4F5;
  }
  
  .sidebar {
    width: 235px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #F1F4F5;
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .userCard {
    width: 200px;
    margin-bottom: 25px;
  }
  
  h4 {
    text-align: center;
    color: black;
  }
  
  nav-item {
    margin-left: 20px;
  }
  
  .bi {
    padding: 10px;
  }