body {
  background-color: #f1f4f5;
}

.sidebar {
  width: 275px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #f1f4f5;
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  align-items: flex-start;
}

#myChart {
max-width:100%;
height:400px;
}

.container-fluid {
  display: block;
}

.userCard {
  margin-bottom: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.dashboard-heading {
  margin: 0;
}

.weather {
  display: flex;
  align-items: center;
}

.weather-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.temperature {
  margin-right: 5px;
}

.weather-heading {
  margin: 0;
}

h4 {
  text-align: center;
}

.bi {
  margin: 5px;
}

.navbar-brand {
  margin-left: 20px;
}
.cardib {
  width: 150px;
  height: 150px;
  background-color: #adc3d1;
  margin-right: 10px;
  text-align: center;
  line-height: 300px;
  margin-left: 100px;
  border-radius: 10px;
}
.cardiapp {
  background-color: #adc3d1;
  margin-right: 25px;
  margin-left: 150px;
  margin-bottom: 20px;
  padding: 20px;
  width: 600px;
  height: 100px; /* Adjust the height as needed */
  border-radius: 4px;
}
.main-content {
  display: flex;
  margin-left: 220px;
  padding: 20px;
}
.navbar-brand {
  border-radius: 8px;
}
.main-content2 {
  display: flex;
  margin-left: 350px;
  padding: 20px;
}
.maincontentapp {
  margin-left: 220px;
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.maincontentroom {
  margin-left: 220px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.roomimage {
  height: 500px;
  width: 700px;
}
.maincon {
  background-color: white;
  margin-top: 40px;
  margin-right: 25px;
  margin-left: 340px;
  margin-bottom: 20px;
  padding: 20px;
  width: 1000px;
  height: 100px; /* Adjust the height as needed */
  border-radius: 4px;
}
.desc {
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  margin-top: 1em;
}
.locimg {
  margin-top: 5px;
  height: 35px;
  width: 35px;
}
.icon {
  margin-top: 30px;
  height: 35px;
  width: 35px;
}

.media-rel {
  font-size: 40px;
  margin: 50px 10px;
}

.info i {
  font-size: 20px;
}

.info a {
  padding-bottom: 50px;
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.theme-text {
  color: #474af0;
}

.Content.card-img-top {
  height: 200px;
  width: 100%;
}
.Content.card {
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.Content.card:hover {
  color: white;
}
.Content.card::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0%;
  background: #474af0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
}
.Content.card:hover::before {
  left: 0%;
  color: white;
}
/*.Content.container-fluid {
  background-image: url("blob-scene-haikei.svg");
  background-position: center;
  background-size: cover;
}*/
