<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Latest compiled and minified CSS-->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!--><link rel="stylesheet" href="./style.css" />-->
    <title>Personal Finance Tracker - Home Page</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-md-8">
          <h1>Hello NAME!</h1>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="row">
            <div class="col-xs-6 col-md-6">
              <a href="#">Notifications</a>
            </div>
            <div class="col-xs-6 col-md-6">
              <a href="#">Logout</a>
            </div>
          </div>
        </div>
      </div>

      <nav>
        <div class="row">
          <div class="col-xs-4">Home</div>
          <div class="col-xs-4">+</div>
          <div class="col-xs-4">Account</div>
        </div>
      </nav>

      <div class="row">
        <div class="col-xs-4">
          <a href="#">Last Month</a>
        </div>
        <div class="col-xs-4">This Month</div>
        <div class="col-xs-4"><a href="#">Future</a></div>
      </div>

      <div>
        <div class="row">
          <div class="col-xs-12">Total balance : $******</div>
        </div>
        <div class="row">
          <div class="col-sm-6">Total Income : $*****</div>
          <div class="col-sm-6">Total Expenses : $*****</div>
        </div>
      </div>

      <div class="row">
        <div class="transactions col-sm-12">Transactions</div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-lg-3">Home & Utilities</div>
        <div class="col-sm-6 col-lg-3">Insurance & Financial</div>
        <div class="col-sm-6 col-lg-3">Obligations</div>
        <div class="col-sm-6 col-lg-3">Groceries</div>
        <div class="col-sm-6 col-lg-3">Personal & Medical Expense</div>
        <div class="col-sm-6 col-lg-3">Entertainment & Dine Out</div>
        <div class="col-sm-6 col-lg-3">Transportation Fares</div>
        <div class="col-sm-6 col-lg-3">Child Care</div>
      </div>
    </div>
  </body>
</html>
