{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>PowerSmart - About Us</title>
    <!-- Required meta tags -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Linking CSS File index.css -->

</head>

<body>
  <aside class="sidebar">
    <nav class="navbar">
      <span class="Content container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <img class="navbar-brand" src="{% static 'assets/logo.png' %}" alt="LOGO">
            </a>
          </li>
          <li class="nav-item card userCard">
            <a class="nav-link" href="#">
              <img class="card-img-top" src="{% static 'assets/user.jpg' %}" alt="USER">
              <div class="card-body">
                <h4 class="card-title">{{fname}} {{lname}}</h4>
              </div>
            </a>
          </li>
          <li class="nav-item menu">
            <a class="nav-link" href="{% url 'home' %}"><i class="bi bi-house-door"></i>Dashboard</a>
          </li>
          <li class="nav-item menu">
            <a class="nav-link" href="{% url 'cost' %}"><i class="bi bi-currency-dollar"></i>Cost</a>
          </li>
          <li class="nav-item menu">
            <a class="nav-link" href="{% url 'app' %}"><i class="bi bi-lightbulb"></i>Appliances</a>
          </li>
          <li class="nav-item menu">
            <a class="nav-link" href="{% url 'room' %}"><i class="bi bi-door-open"></i>Usage by Rooms</a>
          </li>
          <li class="nav-item sys_menu">
            <a class="nav-link" href="{% url 'about' %}"><i class="bi bi-info-lg"></i>About Us</a>
          </li>
          <li class="nav-item sys_menu">
            <a class="nav-link" href="{% url 'contact' %}"><i class="bi bi-telephone"></i>Contact Us</a>
          </li>
        </ul>
      </span>
    </nav>
  </aside>
  <div class="maincon">
    <h1 class="heading">ABOUT US </h1>
    <p class="desc">Our project is basically designed with the idea to help every household to reduce power consumption and thereby help in the overall energy conservation</p>
    
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="Content card">
          <div class="card-body">
            <h3 class="card-title">Ensure green energy goals</h3>
            <p class="card-text">Both downstream and upstream professionals are realising the importance of green energy motives.They are taking steps to ensure these goals.With energy monitoring sensors, performance and power consumption data and utilisers,faculty managers can maximise the use of renewables in their services and adopt energy conservation strategies accordingly.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="Content card">
          <div class="card-body">
            <h3 class="card-title">Optimise asset maintanence</h3>
            <p class="card-text">The Internet Of Things offers massive advantages to the energy industry.This connected technology comes with sensors,data,and analytics that can effectively monitor the performance of power plants and distribution networks.Optimising asset maintanence becomes smart with IoT technology.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="Content card">
          <div class="card-body">
            <h3 class="card-title">Reduce energy consumption</h3>
            <p class="card-text">One of the major benefits of IoT based solutions for energy management is the overall reduction of energy spending in buildingd.It comes with smart metering,real-time power usage monitoring and data-driven predictions that eliminate energy waste in building.</p>
          </div>
        </div>
      </div>
      
    </div>
</div>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

</body>

</html>